<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Blog</title>
</head>
<body class="w3-theme-l5">
	<div class="w3-container w3-content"
		style="max-width: 1400px; margin-top: 20px">
		<!-- The Grid -->
		<div class="w3-row">
			<!-- Left Column -->
			<div class="w3-col m3">
				<!-- Profile -->
				<div class="w3-card-2 w3-round w3-white">
					<div class="w3-container">
						<h4 class="w3-center">My Profile</h4>
						<p class="w3-center">
							<img
								src="http://www.freeiconspng.com/uploads/--tie-user-users-work-worker-working-icon--icon-search-engine-6.png"
								class="w3-circle" style="height: 106px; width: 106px"
								alt="Avatar">
						</p>
						<hr>
						<p>
							<i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>
							Designer, UI
						</p>
						<p>
							<i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>
							London, UK
						</p>
						<p>
							<i
								class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>
							April 1, 1988
						</p>
					</div>
				</div>
				<br>



				<!-- Interests -->
				<div class="w3-card-2 w3-round w3-white w3-hide-small">
					<div class="w3-container">
						<p>Interests</p>
						<p>
							<span class="w3-tag w3-small w3-theme-d5">News</span> <span
								class="w3-tag w3-small w3-theme-d4">W3Schools</span> <span
								class="w3-tag w3-small w3-theme-d3">Labels</span> <span
								class="w3-tag w3-small w3-theme-d2">Games</span> <span
								class="w3-tag w3-small w3-theme-d1">Friends</span> <span
								class="w3-tag w3-small w3-theme">Games</span> <span
								class="w3-tag w3-small w3-theme-l1">Friends</span> <span
								class="w3-tag w3-small w3-theme-l2">Food</span> <span
								class="w3-tag w3-small w3-theme-l3">Design</span> <span
								class="w3-tag w3-small w3-theme-l4">Art</span> <span
								class="w3-tag w3-small w3-theme-l5">Photos</span>
						</p>
					</div>
				</div>
				<br>

				<!-- Alert Box -->
				<div
					class="w3-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
					<span onclick="this.parentElement.style.display='none'"
						class="w3-hover-text-grey w3-closebtn"> <i
						class="fa fa-remove"></i>
					</span>
					<p>
						<strong>Hey!</strong>
					</p>
					<p>People are looking at your profile. Find out who.</p>
				</div>

				<!-- End Left Column -->
			</div>

			<!-- Middle Column -->
			<div class="w3-col m7" ng-controller="commentController">

				<div class="w3-container w3-card-2 w3-white w3-round w3-margin"
					ng-repeat="b in blogs | orderBy:'-blogId'">
					<br>
					<p hidden="true">{{b.blogId}}</p>
					<span class="w3-right w3-opacity">{{b.blogCreatedDate}}</span>
					<h4>{{b.title}}</h4>
					<br>
					<hr class="w3-clear">
					<p>{{b.description}}.</p>

					<div style="float: left;">

						<button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom"
							ng-click="upvoteBlog(b.blogId)">
							<i class="fa fa-thumbs-up"> {{b.likes}}</i> Like
						</button>
						<button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom"
							ng-click="downvoteBlog(b.blogId)">
							<i class="fa fa-thumbs-down"> {{b.dislikes}}</i> Like
						</button>
						<button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom"
							ng-click="fetchAllComments(b.blogId)">
							<i class="fa fa-thumbs-down"></i> Comments
						</button>
					</div>

					<div style="float: right">
						<button type="button" class="w3-btn w3-theme-d2 w3-margin-bottom">
							<i class="fa fa-pencil-square-o" ng-click="update()"></i> Update
						</button>
						<button type="button" class="w3-btn w3-theme-d2 w3-margin-bottom"
							ng-click="deleteBlog(b.blogId)">
							<i class="fa fa-trash-o"></i> Delete
						</button>
					</div>
					<div style="margin-top: 60px">
						<h6 class="w3-opacity">Comments</h6>

						<div ng-repeat="c in comments | orderBy:'-commentId'">
							<h4>{{c.comment}}</h4>
							<span class="w3-right w3-opacity">{{c.commentedDate}}</span>

						</div>

						<p contenteditable="true" class="w3-border w3-padding">Comment:
							Your feel</p>
						<button type="button" class="w3-btn w3-theme">
							<i class="fa fa-pencil"></i>  Post
						</button>
					</div>
				</div>



				<!-- End Middle Column -->
			</div>

			<!-- Right Column -->
			<div class="w3-col m2" style="float: right;">
				<div class="w3-card-2 w3-round w3-white w3-center">
					<div class="w3-container">
						<p>Upcoming Events:</p>
						<img src="" alt="Forest" style="width: 100%;">
						<p>
							<strong>Holiday</strong>
						</p>
						<p>Friday 15:00</p>
						<p>
							<button class="w3-btn w3-btn-block w3-theme-l4">Info</button>
						</p>
					</div>
				</div>
				<br>

				<div class="w3-card-2 w3-round w3-white w3-center">
					<div class="w3-container">
						<p>Friend Request</p>
						<img
							src="http://www.freeiconspng.com/uploads/--tie-user-users-work-worker-working-icon--icon-search-engine-6.png"
							alt="Avatar" style="width: 50%"><br> <span>Jane
							Doe</span>
						<div class="w3-row w3-opacity">
							<div class="w3-half">
								<button class="w3-btn w3-green w3-btn-block w3-section"
									title="Accept">
									<i class="fa fa-check"></i>
								</button>
							</div>
							<div class="w3-half">
								<button class="w3-btn w3-red w3-btn-block w3-section"
									title="Decline">
									<i class="fa fa-remove"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<br>

				<div class="w3-card-2 w3-round w3-white w3-padding-16 w3-center">
					<p>ADS</p>
				</div>
				<br>

				<div class="w3-card-2 w3-round w3-white w3-padding-32 w3-center">
					<p>
						<i class="fa fa-bug w3-xxlarge"></i>
					</p>
				</div>

				<!-- End Right Column -->
			</div>

			<!-- End Grid -->
		</div>

		<!-- End Page Container -->
	</div>
	<br>
</body>
</html>