<!-- Created by ikism on Dec 6, 2016 -->
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="generic-container">

		<!-- 
		<div data-ng-hide='job.errorMessage=="" '>
			<div class="alert alert-danger fade in">Error :
				{{job.errorMessage}}</div>
		</div>

		<div data-ng-show='job.errorMessage==""'>
 -->
		<div class="container" style="margin-bottom: 19px">
			<h1 class="well">Add New Job !</h1>
			<div class="col-lg-12 well">
				<div class="row">

					<!--  RegisterServlet  form -->
					<form data-ng-submit="submit()" name="myForm">
						<div class="col-sm-12">
							<div class="row">

								<div class="col-sm-12 form-group">
									<label>Title</label> <input type="text" data-ng-model="job.title"
										placeholder="Add Job Title.." class="form-control" required>
								</div>
							</div>
							<div class="row">

								<div class="col-sm-4 form-group">
									<label>Company</label> <input type="text"
										data-ng-model="job.company" placeholder="Add Job Title.."
										class="form-control" required>
								</div>
								<div class="col-sm-4 form-group">
									<label>Salary</label> <input type="text" data-ng-model="job.salary"
										placeholder="Add Job Title.." class="form-control" required>
								</div>
								<div class="col-sm-4 form-group">
									<label>Qualifications</label> <input type="text"
										data-ng-model="job.qualification" placeholder="Add Job Title.."
										class="form-control" required>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12 form-group">
									<label>Description</label>
									<textarea data-ng-model="job.description"
										placeholder="Description.." class="form-control" required
										rows="12"></textarea>
								</div>
							</div>

							<hr>
							<div>


								<div class="form-actions" style="text-align: center;">

									<button type="submit" class="btn btn-primary btn-info"
										style="text-align: center;">Submit</button>
									<button type="button" class="btn btn-warning btn-info"
										style="text-align: center;" data-ng-click="reset()">Reset
									</button>

								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>